<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccountSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccountSystem.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>Win</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>(localdb)\Local</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>AccDBs</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>Abdo</value>
            </setting>
            <setting name="PWD" serializeAs="String">
                <value>123456</value>
            </setting>
        </AccountSystem.Properties.Settings>
    </userSettings>
</configuration>